<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/adminHeader :: common-header" />

<body>
	<div th:replace="common/adminHeader :: common-navbar" />


	<div class="container" style="margin: 0px 0px 50px 130px; width: 60%;">
		<div class="row">
			<form class="form-horizontal" th:action="@{/admin/platform/add}"
				method="post" enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block"
						style="padding: 20px 0; margin: 0 0 40px 0;">New platform
						information</legend>

					<div class="form-group">
						<label class="col-xs-2 control-label" for="name">Name</label>
						<div class="col-xs-8">
							<input type="text" class="form-control" id="name" name="name"
								th:value="${platform.name}" required="required" placeholder="Name" />
							<span class="help-block">Platform name</span>
						</div>
					</div>

					<br>
					<div class="form-group">
						<div class="col-xs-2"></div>
						<div class="col-xs-8">
							<button type="submit" class="btn btn-success">Add platform</button>
							&nbsp;&nbsp;&nbsp; <a class="btn btn-danger" th:href="@{/}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>



	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
