<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">



<head th:replace="common/adminHeader :: common-header" />
<body>
	<div th:replace="common/adminHeader :: navbar" />

	<div class="container">

		<div class="row" style="margin-top: 100px;">

			<div class="col-xs-12">
				<div class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false"
						style="text-decoration: none;"> <span
						style="font-size: 22px; border: 2px solid rgb(51, 122, 183); border-radius: 15px; padding: 5px;"
						class="text-right">Platform <i class="fa fa-arrow-down"
							aria-hidden="true"></i></span>
					</a>
					<div class="dropdown-menu list-group" id="platform"
						style="padding: 0;">
						<a th:href="@{/gameView(platform='all')}"
							th:classappend="${activeAll}? 'active'" class="list-group-item">All</a>

						<a th:href="@{/searchByPlatform(category='Pc')}"
							th:classappend="${activePc}? 'active'" class="list-group-item">PC</a>
						<a th:href="@{/searchByPlatform(category='Ps4')}"
							th:classappend="${activePs4}? 'active'" class="list-group-item">Ps4</a>
						<a th:href="@{/searchByPlatform(category='Xbox')}"
							th:classappend="${activeXbox}? 'active'" class="list-group-item">Xbox</a>
					</div>
				</div>
			</div>

		</div>

		<div class="row" style="margin-top: 60px;">

			<div class="col-xs-12">

				<div th:if="${emptyList}">
					<h5 style="font-style: italic;">Something went wrong. We have
						no games to display.</h5>
				</div>

				<table border="0" id="gameList">
					<thead>
						<tr>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="game-item" data-th-each="game : ${gameList}">
							<td>
								<div th:if="${game != null}">
									<div class="row" style="margin-bottom: 80px;">
										<div class="col-xs-3">
											<a th:href="@{/gameDetail?id=}+${game.id}"><img
												class="img-responsive"
												th:src="#{adminPath}+@{/images/game/}+${game.id}+'.png'" /></a>
										</div>
										<div class="col-xs-5"
											style="margin-top: 40px; padding-left: 50px;">
											<a th:href="@{/gameDetail?id=}+${game.id}"><h4
													th:text="${game.name}"></h4></a>
											<p>
												<span th:text="${game.genre}"></span>
											</p>
											<p>
												<span th:text="${#strings.capitalize(game.price)}"></span>
											</p>
											<p>
												<span th:text="${game.description}"></span>
											</p>
											<p>
												<span th:text="${game.platform}"></span>
											</p>
											<p>
												<span th:text="${game.loyaltyPoints}"></span>
											</p>
											<br>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<div th:replace="common/header :: footer" />
	<div th:replace="common/header :: body-bottom-scripts" />
	<script>
		$(document).ready(function() {
			$('#gameList').DataTable({
				"ordering" : false,
				stateSave : false
			});

			$('#gameList').on('page.dt', function() {
				$('html, body').animate({
					scrollTop : $('#gameList').offset().top
				}, 200);
			});

		});
	</script>

</body>
</html>