<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/adminHeader :: common-header" />

<body>
	<div th:replace="common/adminHeader :: navbar" />


	<div class="container" style="margin-top: 20px;">
		<div class="table">
			<table id="gameListTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Genre</th>
						<th>Price</th>
						<th>Platform</th>
						<th>Description</th>
						<th>LoyaltyPoints</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${game.name}"></td>
						<td th:text="${game.genre}"></td>
						<td th:text="${game.price}"></td>
						<td th:text="${game.platform}"></td>
						<td th:text="${game.description}"></td>
						<td th:text="${game.loyaltyPoints}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div th:replace="common/adminHeader :: body-bottom-scripts" />

</body>
</html>
