*{
	padding:0;
	margin:0;
}

body{
	overflow-x:hidden;
}


h1, h2, p
{
	margin:0;
	padding:0;
}

.container{
	width:85%;

}
.navbar
{
	background-color: rgb(0,12,12);
	margin:0px;
	padding:0px;
	border-radius:0px;
}


.header_
{
	background-image: url("/images/games.jpg");
	height:600px;
	max-width:100%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.toplogo
{
	width: 80px;
	margin-top:-10px;
	margin-left:10px;
	
}

.first_row
{
	background-color: rgb(192,192,192);
	margin:100px 10px 0px 10px;
}

.home-headline
{
	font-family:'Arial';
	font-size:24px;
	color:#fff;
	margin:auto;
	text-align:center;
	margin-top:-13px;
}
.home-headline span
{
	background-color:#231F20;
	padding:5px 20px;
}	

.section-headline
{
	text-align:center;
	padding-top:110px;
	color:#F0F8FF;
}
.section-headline_p
{
	text-align:center;
	padding-top:20px;
	color:#F0FFFF;
}

.myAccountHeader
{
	height:300px;
}

.myAccLeftHeader
{
	background-image:url("/images/console.png");
	height:100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-size:cover;
}

.gameViewHeader
{
	background-image:url("/images/console.png");
	height:100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-size:cover;
}



.footer_bottom{
	background-color:rgb(51, 122, 183);
	margin-top:40px;
	padding:20px 0;
}


